# Project-specific Fastlane Environment Configuration
# Local overrides for secrets and credentials

APP_IDENTIFIER="com.amrosh.Pointchat"
PACKAGE_NAME="com.amrosh.Pointchat"
APPLE_ID="amrosh.world@gmail.com"
FASTLANE_TEAM_ID="KGY5RUQ34C"
FASTLANE_ITC_TEAM_ID="KGY5RUQ34C"

# Path to Apple App Store Connect API Key
APP_STORE_CONNECT_API_KEY_KEY_ID="J34F5SH629"
APP_STORE_CONNECT_API_KEY_ISSUER_ID="INSERT_YOUR_APPLE_ISSUER_ID_HERE"
APP_STORE_CONNECT_API_KEY_KEY_FILEPATH="${HOME}/.mobile_deploy_keys/AuthKey_J34F5SH629.p8"

# Path to Google Play Console Service Account JSON Key
SUPPLY_JSON_KEY="${HOME}/.mobile_deploy_keys/google-play-api-key.json"

# Android Keystore Configuration
ANDROID_KEYSTORE_PATH="${HOME}/.mobile_deploy_keys/my-upload-key.jks"
ANDROID_KEYSTORE_PASSWORD="Amrosh@2026_St"
ANDROID_KEY_ALIAS="upload"
ANDROID_KEY_PASSWORD="Amrosh@2026_St"
